@tailwind base;
@tailwind components;
@tailwind utilities;


#cta {
  background-image: url("/images/newsletter-box.png");
  background-repeat: no-repeat;
  background-size: 1100px;
}

#cta-sect {
  background-image: url("/images/newsletter-bg.png");
  background-repeat: no-repeat;
}

select {
  display: block;
  width: 100%;
  font-size: 1em;
  font-family: inherit;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

#portfolio {
  background-image: url("/images/o.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 50px -50px;
}

@media (max-width: 768px) {
  #portfolio {
    background-image: none;
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
}